* {
    margin: 0%;  
    padding: 0%;
    box-sizing: border-box;
     
}

body {
    cursor:grab ;
}
.parent {
    background-color: #1e1b2e;
    height:100vh ;
 
}
.parent .cont {
  padding-top: 100px;
  display:flex;
  justify-content: space-around;
   align-items:center;
   margin:auto;
   padding-left:15px;
      padding-right:15px;
      
 

}

.parent .sign {
    background-color:#2f2645;
    width:300px;
    height: 250px;
    text-align: center; 
    border-radius: 2%;
    box-shadow:#02fe8b 7px 10px 10px 5px ;

}
h3 {
    color:#02fe8b;
}
.se  {
color:#02fe8b;
display: flex;
flex-direction: column;
align-items: flex-start;
line-height: 2;
}

 

.se > input  {
    background-color: #1e1b2e;
    border-right-color:#02fe8b;
    color:white;
    margin-left: 10px;
    border-radius: 10% none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height:33px
}

.se > button {
    margin-top: 10px;
    line-height: 2;
     width: 296px;
    text-align: center;
    border-radius: 1%;
    border:none;
    box-shadow: white 0px 0px 10px;
    background-color: #02fe8b;
    margin-top: 30px;
}


/* leftm */
.leftm {

}

.leftm img  {
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftm h1 {
  max-width:360px;
  color:#02fe8b
}
 

@media (max-width:671px) {
    .parent .cont  {
       display: block;
       width:300px;
       text-align: center;
    }
    .parent    {
       height: auto;
    }
  
    .sign {
         
    }
 
 }

@media (max-width:992px) {
    .cont .parent {
       
    }
 }


@media (min-width:1200px) {
    .cont {
        
    }
 }

